# Arquivos de compilação e logs
*.class
*.log
*.pyc
*.swp
*.symbols
app.*.symbols
app.*.map.json

# Arquivos de IDEs e editores
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Arquivos de versionamento e controle
.history
.svn/
.migrate_working_dir/

# Arquivos de build e release
/build/
/android/app/debug
/android/app/profile
/android/app/release

# Arquivos de desenvolvimento e cache
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Arquivos de sistema e miscellaneous
.DS_Store

#banco de dados
.db
.sqlite
.sqlite3
.bdapppet.db
.fake